.single-post-container {
    color:white;
      display: flex;
  flex-direction: column;
  border: 2px solid rgb(49, 49, 49);
  margin-top:20px;
  border-radius: 15px;
  width: 300px;
  aspect-ratio: 4/5;

  margin: 10px;
}
.single-post-container img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  width: 300px;
  aspect-ratio: 3/2;
}